<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
    <title></title>
  </head>

  <body>
    <h1>Mande a foto</h1>

    <form method="POST" action="/photo">
      <select name="problem_id">
        {% for problem in problems %}
        <option value="{{ problem.ID }}">{{ problem.title }}</option>
        {% endfor %}
      </select>
      <input type="file" name="photo" />
      <input type="submit" name="" value="Manda a foto" />
    </form>

    <hr>

  </body>
</html>
